h1 Users#new
p Find me in app/views/users/new.html.slim


<%= simple_form_for(@user) do |f| %>
<%= f.input :name %>
<%= f.input :email %>
<%= f.input :password %>
<%= f.input :password_confirmation %>
<%= f.input :submit %>
<%= end %>
