body {
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 300;
	font-size: 14px;
	background-color: #fff;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.jp {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

a.hover-jp:hover {
	text-decoration: none;
}

a.hover-jp:active {
	text-decoration: none;
}

a.hover-jp:visited {
	text-decoration: none;
}

.hover-jp span:after {
	position: relative;
	content: attr(data-en);
}

.hover-jp:hover span:after {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	content: attr(data-jp);
}

.hover-en span:after {
	position: relative;
	content: attr(data-jp);
}

.hover-en:hover span:after {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	content: attr(data-en);
}

.navbar-nav li > a:active {
	text-decoration: none;
	border: none;
}
